body {
    font-family: Verdana;
    padding: 0;
    margin: 0;
    /*background: url("http://worldlandforms.com/landforms/wp-content/uploads/2015/03/Beach.jpg");*/
    /*background: url("../img/bg.jpg");*/
}

.topHeader {
    padding: 14px 0 0 0;
    background: white;
    width: 4000px;
    height: 30px;
}

#navigator {
    width: auto;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    background: rgba(255,255,255,.9);
    /*background: rgba(0,0,0,1);*/
    padding: 30px 100px 30px 100px;
}

#content {
    width: auto;
    height: auto;
    overflow: hidden;
    /*margin: 5px auto;*/
    background: rgba(255,255,255,.7);
    padding: 30px 100px 30px 100px;
}

#content2 {
    width: auto;
    height: auto;
    overflow: hidden;
    /*margin: 5px auto;*/
    background: rgba(255,255,255,1);
    padding: 30px 100px 30px 100px;
}


#content3 {
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 30px 100px 30px 100px;
}


#logo{
    width: 430px !important;
    float: left;
}



ul{
    list-style: none;
    margin: 30px auto 0px -100px;
    float: left;
    font-size: 13px;
}

ul li {

    font-family:'Oxygen', sans-serif;
    float: left;
    margin-left: 10px;
    padding-left: 10px;
}

ul li a {
    color: white;
    text-decoration: none;
}


.menu {
    font-size: 16px;
    border-radius: 3px;
    padding: 10px;
    float: right;
    width: auto;
    /*height: 100px;*/
    margin-left: 30px;
    background: black;
}

.blockMenu {
    float: left;
    margin: 0 20px;
    padding: 10px;
}

.inputLabel {
    margin: 5px 5px;
}

.menu input, #havalimani {
    border-radius: 1px;
    padding: 7px;
    height: 20px;
    width: 200px;
    font-size: 12px;
    font-family: Verdana;
}

.menu .submitCheck {
    height: 40px;
    margin-top: 40px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    float: left;
    margin: 15px;
    padding: 14px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

h3.contactus{
    color:#ffffff;
}
