/*navigation*/
*{
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #ffffff !important;
    text-transform: uppercase;
    font-family: "PT Sans Narraw", Arial, sans-serif;
    font-weight: 600;
    color: black;
}


.addcar{
    background-color: #ffffff;
    color: #000000;
}

.navbar a{
    color: #000000;
}




.navbar a:hover{
    background-color: rgba(60, 164, 247, 0.31) !important;
}

.footer h4{
    color: #ffffff;
}


/*book now private classes*/

.booknow{
    background: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #000;
    font-size: 15px;
}

.booknow .btn{
    width: 275px;
    height: 60px;
    font-weight: 600;
    font-size: large;
    border-radius: 0;
}

.slider{
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px; "
}


.logo{
    width: 67%;
    height: 67%;
}
.item img {
    -webkit-filter: blur(1px);
}

@media (max-width: 768px) {
    .booknow .select,.booknow .form-control {
        width: 100%;
    }

    .logo{
        width: 30%;
        height: 30%;
    }
    .slider{
        margin-top: 50px;
    }

}


@media (max-width: 768px) {
    .formmedia {
        padding: 20px 20px;
    }
    .form-group select{
        margin-top: 40px;
    }
}



/*random dealer booking*/

.dealer,.booknow{
    padding: 30px 0 30px;
    text-align: center;
}
.well,.thumbnail{
    cursor: pointer;
}
.dealer h2{
    font-size: 30px;
    color: #000;
    font-weight: bold;
}

.row h2{
    font-weight: bold;
}

.pickui {
    padding-left: 30px;
    color: rgba(0,0,0,.8);
    font-size: 20px;
}

.dealer h4, .booknow h2, .booknow h4{
    color: #000;
    margin:10px 0 10px;
    font-weight: bold;
}
.booknow p, .dealer p{
    color: #000000;
}
.dealer {
    color: #737373;
    font-size:14px;
    padding-bottom:40px;
    background-color: #e2b842;
}



.searchcar i {
    height: 100px;
    width: 100px;
    font-size: 55px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #8d1e21;
    color: #ffffff;
}

.cheapest-car{
    padding: 40px 0 40px;
    background-color: #ffffff;
    text-align: center;
}

.boxes{
    padding: 40px 0 40px;
    background-color: #ffffff;
    text-align: center;
}

.resultresultofphp{
    background-color: #ffffff;
}


.searchcar{
    padding:100px 0 40px 0px;
    background-color: rgb(16, 84, 105);
    text-align: center;
}
.searchcar h2, .searchcar h4, .searchcar p{
    color: #ffffff;
    font-weight: bold;
}
/*contact forms*/
.contact{
    padding: 120px 20px;
    text-align: center;
}

.navbar-default {
    border-color: #ffffff;
}

@media (max-width: 768px) {
    .contact{
        padding: 40px 0 20px;
    }
}




.contact p {
    padding-bottom: 40px;
    text-align: center;
}
.contact h2{
    font-weight: bold;
    text-align: center;
}
.contact .input-group{
    margin-bottom: 10px;
    width: 100%;
}

.contactpadding{
    padding: 0 30px;
}
.resultresultofphp{
    margin-top: 50px;
}



.contact .btn{
    width: 100%;
    font-size: 15px;
    margin-top: 15px;
}

/*map style*/

.map{
    width: 100%;
    height:400px;
}


/*footer part*/

.footer{
    padding: 20px;
    color: #cccccc;
    background-color: rgba(22, 22, 22, 0.8);
}

/*text*/
.text{
    background-color: #000000;
    text-align: center;
}

.searchresultpadding{
    padding: 50px 0px;
}


.text h2, .text p{
    color: #ffffff;
}

.booknow .select, .booknow .form-control{
    height: 40px;
    font-size: 17px;
}

.footer .socialmedia{
    font-size:20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}


 .carousel-caption p{
    font-size: 22px;
}


.footer input{
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000000;
}
.footer .btn{
    padding: 10px 10px;
    margin: -3px 0 0 5px;
}

.footer .col-lg-12 p {
    text-align: center;
    padding: 15px;
}

.footerthreebox{
    padding-top: 50px;
}

.searchbtn {
    padding: 1.4%;
    border-radius: 5px;
    margin: 3%;
    /*background: rgba(173, 32, 32, .7);*/
    text-transform: uppercase;
}

.searchbtn a {
    font-size: 18px;
    color: black;
    text-emphasis: black;
    /*color: rgba(0,0,0,.8);*/
}

.searchbtn a:hover {
    text-decoration: none;
}