<div class="modal fade" id="dealersignin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="form-signin" action="actions/registerdealer.php" method="post">
                    <h2 class="form-signin-heading">Dealer Register</h2>
                    <label for="inputEmail" class="sr-only">First Name</label>
                    <input type="text" id="dealerfname" name="dealerfname" class="form-control" placeholder="First Name" onfocus="makeColourful(this)" required autofocus><br>
                    <label for="inputEmail" class="sr-only">Last Name</label>
                    <input type="text" id="dealersname" name="dealersname" class="form-control" placeholder="Last Name" onfocus="makeColourful(this)" required autofocus><br>
                    <label for="inputEmail" class="sr-only">E-Mail</label>
                    <input type="email" id="dealersemail"  name="dealersemail" class="form-control" placeholder="Email address" onfocus="makeColourful(this)" required autofocus><br>
                    <label for="inputEmail" class="sr-only">Password</label>
                    <input type="password" id="inputPasswordD" name="inputPasswordD" class="form-control" placeholder="Password" onfocus="makeColourful(this)" required autofocus><br>
                    <label for="cellPhone" class="sr-only">Cell Phone</label>
                    <input type="text" id="cellPhone" name="cellPhone" class="form-control" placeholder="Cell Phone" onfocus="makeColourful(this)" required autofocus><br>


                    <label for="businessSegment" ">Business Segment</label>
                    <select name="businessSegment">
                        <option value="volvo">Rent a Car</option>
                        <option value="saab">Saab</option>
                    </select>


                    <br>
                    <label for="businessType" >Business Type</label>


                    <br>
                    <input type="radio" name="businessType" value="private"> Private Company<br>
                    <input type="radio" name="businessType" value="limitedAnonim"> Limited or Corporation Company<br>

                    <br>
                    <label for="tradeName" class="sr-only">Trade Name</label>
                    <input type="text" id="tradeName" name="tradeName" class="form-control" onfocus="makeColourful(this)" placeholder="Trade Name"  required autofocus><br>


                    <br>
                    <label for="city" >City</label>
                    <select name="dealerCity">
                        <option value="Kyrenia">Kyrenia</option>
                        <option value="Nicosia">Nicosia</option>
                        <option value="Famagusta">Famagusta</option>
                        <option value="Morphou">Morphou</option>
                        <option value="Trikomo">Trikomo</option>
                        <option value="Lefka">Lefka</option>
                    </select>


                    <br>
                    <label for="address"  >Address:</label>
                    <br>
                    <textarea name="dealerAddress" rows="4" cols="50">
                    </textarea>



                    <br>
                    <label for="taxOffice" >Tax Office:</label>
                    <br>
                    <select name="taxOffice">
                        <option value="Kyrenia">Kyrenia</option>
                        <option value="Nicosia">Nicosia</option>
                        <option value="Famagusta">Famagusta</option>
                        <option value="Morphou">Morphou</option>
                        <option value="Trikomo">Trikomo</option>
                        <option value="Lefka">Lefka</option>
                    </select>

                    <br>
                    <br>
                    <label for="ssnumber" class="sr-only">SSN</label>
                    <input type="text" id="ssnumber" placeholder="SSN" name="ssnumber" class="form-control" onfocus="makeColourful(this)" required autofocus><br>

                    <label for="landPhone" class="sr-only" >Land Phone</label>
                    <input type="text" id="landPhone" placeholder="Land Phone" name="landPhone" class="form-control" onfocus="makeColourful(this)" required autofocus><br>



                    <div class="form-group">
                        <label for="file-upload">Dealer Paper</label>
                        <input type="file" id="file-upload"/>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" name="submit"  onclick="passwordLength3()" type="submit">Sign in</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>